@font-face {
  font-family: 'pixelarticons';
  src:
    url('iconfont/pixelarticons.ttf?2z2ld8') format('truetype'),
    url('iconfont/pixelarticons.woff?2z2ld8') format('woff'),
    url('iconfont/pixelarticons.svg?2z2ld8#pixelarticons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pixelarticons,
.pixelarticon,
[class^="px-"],
[class*=" px-"] {
  font-size: 24px;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pixelarticons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.px-48 {
  font-size: 48px;
}

.px-72 {
  font-size: 72px;
}



.px-angledown:before {
  content: "\e900";
}
.px-angleleft:before {
  content: "\e901";
}
.px-angleright:before {
  content: "\e902";
}
.px-angleup:before {
  content: "\e903";
}
.px-arrowdown:before {
  content: "\e904";
}
.px-arrowleft:before {
  content: "\e905";
}
.px-arrowright:before {
  content: "\e906";
}
.px-arrowup:before {
  content: "\e907";
}
.px-chevrondown:before {
  content: "\e908";
}
.px-chevronleft:before {
  content: "\e909";
}
.px-chevronright:before {
  content: "\e90a";
}
.px-chevronup:before {
  content: "\e90b";
}
.px-keydown:before {
  content: "\e90c";
}
.px-keyleft:before {
  content: "\e90d";
}
.px-keyright:before {
  content: "\e90e";
}
.px-keyup:before {
  content: "\e90f";
}
